<%- include header %>
<p>
  <% if (user && (user.name == post.name)) { %>
    <span><a class="edit" title="编辑" href="/edit/<%= post._id %>"><img src="/images/penci.png"></a></span>
    <span><a class="edit" title="删除" href="/remove/<%= post._id %>"><img src="/images/trash.png"></a></span>
  <% } %>
</p>
<p class="info">
  日期：<%= post.time.minute %>
  标签：
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>
</p>
<p><%- post.post %></p>
<p class="info">
  阅读：<%= post.pv %>
</p>
<%- include footer %>