<%- include header %>
<p>
  <% if (user && (user.name == post.name)) { %>
    <span><a class="edit" href="/edit/<%= post._id %>"><span class="glyphicon glyphicon-pencil"></span> 编辑</a></span>
    <span><a class="edit" href="/remove/<%= post._id %>"><span class="glyphicon glyphicon-trash"></span> 删除</a></span>
  <% } %>
</p>
<p class="info">
  <span title="日期" class="glyphicon glyphicon-time"></span> <%= post.time.minute %>
    <% if (post.tags.length>0) { %>
    <span title="标签" class="glyphicon glyphicon-tags"></span>
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>
    <% } %>
</p>
<p><%- post.post %></p>
<p class="info">
  阅读：<%= post.pv %>
</p>
<%- include footer %>