<br>
<% post.comments.forEach(function (comment, index) { %>
  <div style="padding-left:4em">
    <p><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
  </div>
<% }) %>

<form method="post" action="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
<% if (user) { %>
  <p>姓名：<input type="text" name="name" value="<%= user.name %>"></p>
  <p>邮箱：<input type="text" name="email" value="<%= user.email %>"></p>
  <p>网址：<input type="text" name="website" value="/u/<%= user.name %>"></p>
<% } else { %>
  <p>姓名：<input type="text" name="name"></p>
  <p>邮箱：<input type="text" name="email"></p>
  <p>网址：<input type="text" name="website" value="http://"></p>
<% } %>
  <p><textarea name="content" rows="5" cols="80"></textarea></p>
  <p><input type="submit" value="留言"></p>
</form>