<%- include header %>
<form id="myform" method="post" action="/edit/<%= post._id %>">
  标题：<br />
  <input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
  标签：<br />
  <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" />
  <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled" />
  <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled" /><br />
  正文：<br />
  <textarea id="postText" data-postid="<%= post._id %>" name="post" rows="30" style="width:100%"><%= post.post %></textarea><br />
  <p>
      <input type="submit" value="保存修改" />
      <button id="showDraft" type="button" style="display: none;">草稿</button>
  </p>
  <div id="draftBox" style="display: none;">
      草稿: <a href="javascript:;" onclick="hideDraft();">隐藏</a>
      <textarea rows="30" style="width:100%"></textarea>
  </div>
</form>

<h3>图片管理</h3>
<div class="images-list clearfix" id="imagesList"></div>
<form id="imageForm" enctype="multipart/form-data">
    <input type="file" multiple name="file" id="file">
    <button id="upload" type="button">上传</button>
    <progress id="img_progress" value="0"></progress>
</form>
<script type="text/javascript">
var lastChangeTime;
$(function(){
    fetchImages();
    $('#upload').on('click', function(){
        var formData = new FormData($('#imageForm')[0]);
        $.ajax({
            url: '/post/upload/<%= post._id %>',
            type: 'post',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            xhr: function(){
                var myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',progressHandling, false);
                }
                return myXhr;
            },
            success: function(){
                $('#imageForm')[0].reset();
                $('#img_progress').attr({
                    value: 0,
                    max: 0
                });
                fetchImages();
            },
            error: function(){}
        });
    });
    lastChangeTime = new Date();
    var postText = $('#postText');
    var postid = postText.data('postid');
    postText.change(function(){
        if ((new Date().getTime() - lastChangeTime.getTime()) < 1000) {
            return;
        }
        localStorage.setItem('draft' + postid, postText.val());
    });
    var draft = localStorage.getItem('draft' + postid);
    var post = $('#postText').val();
    if (draft && draft.length !== post.length) {
        $('#showDraft').show()
            .click(function(){
                $('#draftBox').show().find('textarea').val(draft);
            });
    }
    $('#myform').submit(function() {
        localStorage.removeItem('draft' + postid);
        return true;
    });
});
function progressHandling(e) {
    if (e.lengthComputable) {
        $('#img_progress').attr({
            value: e.loaded,
            max: e.total
        });
    }
}
function fetchImages() {
    var imagesList = $("#imagesList");
    imagesList.empty();
    $.ajax({
        url: '/post/images/<%= post._id%>',
        type: 'get',
        success: function(data){
            $.each(data.images_url, function(i, url){
                var arr = url.split('/');
                arr = arr[arr.length - 1];
                var div = '<div class="img-item">' +
                    '<img src="' + url + '">' +
                    '<a href="javascript:;" onclick="removeImg(\'' + arr + '\')">删除</a>'
                '</div>';

                imagesList.append(div);
            });
        }
    });
}
function removeImg(img) {
    $.ajax({
        url: '/post/image/remove/<%= post._id %>/' + img,
        type: 'get',
        success: function(text){
            if (text == '删除成功') {
                fetchImages();
            }
        }
    });
}
function hideDraft() {
    $('#draftBox').hide();
}
</script>
<%- include footer %>