<%- include header %>
<% posts.forEach(function (post, index) { %>
  <article>
    <p><h3><a href="/p/<%= post._id %>"><%= post.title %></a></h3>
  <p class="info">
    <span title="日期" class="glyphicon glyphicon-time"></span> <%= post.time.minute %>
    <% if (post.tags.length>0) { %>
       | <span title="标签" class="glyphicon glyphicon-tags"></span>
      <% post.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
          <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
        <% } %>
      <% }) %>
    <% } %>
  </p>
  <div style="display: none;" class="post-content"><%- post.post %></div>
  <p class="info">
    阅读：<%= post.pv %>
  </p>
  </article>
<% }) %>
<script>
$(function(){
    $('.post-content').each(function(){
        var text = $(this).text();
        $(this).html( text ).show();
    });
});
</script>
<%- include footer %>