<%- include header %>
<% posts.forEach(function (post, index) { %>
  <article>
    <p><h3><a href="/p/<%= post._id %>"><%= post.title %></a></h3>
  <p class="info">
    日期：<%= post.time.minute %> | 
    标签：
    <% post.tags.forEach(function (tag, index) { %>
      <% if (tag) { %>
        <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
      <% } %>
    <% }) %>
  </p>
  <p><%- post.post %></p>
  <p class="info">
    阅读：<%= post.pv %>
  </p>
  </article>
<% }) %>
<%- include footer %>